<div class="container">
    <button class="btn btn-primary" routerLink="/user/new">ADD</button>
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>
                    Username
                </th>
                <th>
                    Address
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users$ | async">
                <td>
                    {{user.username}}
                </td>
                <td>
                    {{user.address}}
                </td>
                <td>
                    <button class="btn btn-warning" (click)="update(user.id)">UPDATE</button>
                    <button class="btn btn-danger mx-2" (click)="delete(user.id)">DELETE</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>