<div class="container">
    <form #formLogin="ngForm" class="row" (ngSubmit)="submit(formLogin.form.valid)">
        <input type="text" hidden [(ngModel)]="user.id" name="id">
        <div class="col-12">
            <label class="form-label" for="username">Username</label>
            <input class="form-control" type="text" id="username" name="username" [(ngModel)]="user.username">
        </div>
        <div class="col-12 mt-3">
            <label class="form-label" for="address">Address</label>
            <input class="form-control" type="text" id="address" name="address" [(ngModel)]="user.address">
        </div>
        <div class="col-12 mt-3">
            <button type="submit" class="btn btn-primary" [disabled]="formLogin.form.invalid">SUBMIT</button>
            <button type="button" class="btn btn-warning mx-3" routerLink="/user/list">CANCEL</button>
        </div>
    </form>
</div>